@model mci_main.Models.View.PractitionerViewModel

@{
    ViewData["Title"] = "Details for ???";
}

<h1>Practitioner Details</h1>
<p>@Model.Title @Model.Name</p>
<p>Location: @Model.Location</p>
<p>Specialties: @Model.SpecialtiesStr</p>
<p>DOB: @Model.DOB</p>
<p>About: @Model.Bio</p>


