@model mci_main.Models.View.PractitionerViewModel

@{
    ViewData["Title"] = "Details for ???";
}

<h1>Practitioner Details</h1>
<p>@Model.Title @Model.Name</p>
<p>@Model.Location</p>

<p>
@if(Model.Specialties != null)
{
    @foreach (var item in Model.Specialties)
    {
        @Html.DisplayFor(modelItem => item.Title)
    }
}
</p>

<p>DOB: @Model.DOB</p>
<p>@Model.Bio</p>


