@model mci_main.Models.ReviewFormModel

@{
    ViewData["Title"] = "View Review";
}

<h1>Practitioner Review</h1>
<div class="uk-card uk-card-default uk-card-body">
	<p>@Model.Title</p>
	<p>@Model.Comment</p>
	<p>Review by: @Model.ReviewerName</p>
	<p>Date of Visit: @Model.DateVisited</p>

	<div class="action-section">
	    <a asp-controller="practitioner" asp-action="Index" asp-route-id="@Model.PracIdx">Back</a>
	</div>
</div>

